<!-- Tener en cuenta que los nombres de funciones, variables, y demas deben estar en ingles por buena practica de programacion, y segun el profe, debemos usar kebab-case
para los nombres de funciones y variables, Ejemplo kebab-case function function-name(){"Codigo de Funcion"}  -->
<footer class="footer mt-auto py-3 bg-dark text-light text-center">
    <div class="container">
        <p class="mb-1">Draftosaurus Game &copy; 2025</p>
        <div class="social-icons">
            <a href="#" class="text-light me-3" title="Instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="text-light me-3" title="YouTube"><i class="bi bi-youtube"></i></a>
            <a href="https://github.com/Softwarex-Studio/Software-x" target="_blank" class="text-light"
                title="GitHub"><i class="bi bi-github"></i></a>
        </div>
    </div>
</footer>