<!-- Tener en cuenta que los nombres de funciones, variables, y demas deben estar en ingles por buena practica de programacion, y segun el profe, debemos usar kebab-case
para los nombres de funciones y variables, Ejemplo kebab-case function function-name(){"Codigo de Funcion"}  -->
<div id="tablero">
    <!-- Columna izquierda -->
    <div class="zona" id="zona1">zona1</div>
    <div class="zona" id="zona2">zona2</div>
    <div class="zona" id="zona3">zona3</div>

    <!-- Zona central abajo -->
    <div class="zona" id="zona4">zona4</div>

    <!-- Columna derecha -->
    <div class="zona" id="zona5">zona5</div>
    <div class="zona" id="zona6">zona6</div>
    <div class="zona" id="zona7">zona7</div>
</div>