#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("img/fondo-madera.jpg");
  background-size: cover;
  background-position: center;
}

.btn-Play {
  background-color: var(--color-primario, #ff6a00);
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  font-size: 1.25rem;
  transition: background-color 0.3s ease;
}

.btn-Play:hover {
  background-color: var(--color-hover, #ffa450);
  color: white;
}
