/* Paleta de colores, :root ayuda a crear variables CSS que luego vamos a llamar
Ejemplo color: var(--color-primario);
 */

:root {
  --color-primario: #2d2d2d;
  --color-secundario: #404040;
  --color-terciario: #f5f5f5;
  --color-hover: #ff6b00;
  --color-hover-2: #ff8533;
  --color-claro: #f5f5f5;
  --color-verde: #00ff88;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    135deg,
    var(--color-primario) 0%,
    var(--color-secundario) 50%,
    var(--color-terciario) 100%
  );
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  color: var(--color-texto-claro);
}

.title {
  color: var(--color-texto-claro);
  font-size: 60px;
  font-weight: bold;
  margin-top: 3%;
  text-align: center;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.home-container {
  flex: 1 1 auto;
  overflow-y: auto;
}

#tablero {
  align-items: center;
  text-align: center;
}
