/* Paleta de colores, :root ayuda a crear variables CSS que luego vamos a llamar
Ejemplo color: var(--color-primario);
 */

:root {
  --color-primario: #ff7b00;
  --color-hover: #ffcc00;
  --color-secundario: #1a1a1a;
  --color-texto-claro: #f5f5f5;
  --color-borde: #4a2e1f;
}

.title {
  color: var(--color-texto-claro);
  font-size: 60px;
  font-weight: bold;
  margin-top: 3%;
  text-align: center;
}

body {
  background-color: var(--color-fondo);
  background-image: url("/Software-x/assets/img/tables.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--color-texto-claro);
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.home-container {
  flex: 1 1 auto;
  overflow-y: auto;
}

#tablero {
  align-items: center;
  text-align: center;
}
